<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041035963885-3njlu2cvsr8go1rt29f0st7t7c2eglug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041035963885-3njlu2cvsr8go1rt29f0st7t7c2eglug</string>
	<key>API_KEY</key>
	<string>AIzaSyBOGwR6X-SEqT-i_Xb1uL4Cq1PfpedNS6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1041035963885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vuhoang.trinh.Scanner-App</string>
	<key>PROJECT_ID</key>
	<string>usscanner</string>
	<key>STORAGE_BUCKET</key>
	<string>usscanner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041035963885:ios:3588d461e509b327e5cbe4</string>
	<key>DATABASE_URL</key>
	<string>https://usscanner.firebaseio.com</string>
</dict>
</plist>